* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.bg-transperant {
    background: transparent;
}

header .navbar {
    z-index: 5;
}

a,
a:hover {
    text-decoration: none;
}

/* header {
    position: absolute;
    top: 0;
    left: 12%;
} */

.main_header {
    border-bottom: 1px solid #aeaeae;
}

.navbar_menu {
    flex: 1;
}

.navbar_menu input {
    width: 100%;
    margin: 0 24px;
    border: none;
    background: none;
    color: rgba(255, 255, 255, .5);
    padding: 8px;
}

.navbar_menu ul li {
    margin: 0 22px;
    margin-top: 18px;
}

.navbar_menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.navbar_menu ul li a:hover {
    color: #2174FF;
}

.login {
    border: 1px solid #aeaeae;
    padding: 8px 18px;
    border-radius: 20px;
}

header .login a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

header .login a:hover {
    color: #2174FF;
}

.cart span i {
    border: 1px solid #aeaeae;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

.header_section {
    background-image: url("../images/main_header_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.header_section.blur {
    background-image: url("../images/bg.jpg");
}

.btn-primary {
    background-color: transparent;
    background: linear-gradient(to right, #00d0fc, #d028fa);
    border-color: transparent;
    border: none;
    position: relative;
    border-radius: 50px;
    -webkit-backface-visibility: hidden;
}

.btn-primary:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #00d0fc, #d028fa);
    border-radius: 50px;
    transition: opacity 0.5s ease-out;
    border-color: transparent;
    opacity: 0;
}

.btn-primary:hover:after {
    opacity: 1;
}

.btn-primary span {
    position: relative;
    z-index: 3;
}

.btn-primary-lg {
    padding: 17px 48px;
}

.carousel-control {
    border: 1px solid;
    background: linear-gradient(#00d0fc, #d028fa);
    top: 45%;
    bottom: 53%;
    right: 5%;
    width: 30px;
    border-radius: 100%;
    height: 30px;
    border: none;
}

.carousel-control-next {
    right: 5%;
}

.carousel-control-prev {
    left: 5%;
}

.nav-item>a {
    color: #fff;
}

.start_btn a:hover {
    color: #fff;
    background-image: linear-gradient(to right, #00d0fc 10%, 30%, #00d0fc 100%);
}

.header_text h1 {
    font-size: 62px;
    font-weight: 900;
    letter-spacing: 1.2px;
    color: #fff;
}

.header_text p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: .4px;
}

.company_images .owl_images img {
    opacity: .6;
    width: 140px;
    transition: .3s;
}

.company_images .owl_images img:hover {
    opacity: 1;
    width: 150px;
}

.counter_box_child .number span {
    color: #2174ff;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: .9px;
}

.counter_child .title-counter h6 {
    font-weight: 300;
    color: #202121;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .3px;
}

.testimonials img {
    max-width: 100%;
}

.testimonials {
    margin-top: -20%;
}

.testimonials .box {
    background: #fff;
    box-shadow: 0 15px 35px 0 rgba(0, 29, 44, .1);
}

.collection_content .thumbnails {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.how_it_works {
    background-image: url("../images/home5-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.meta_content .rank {
    border: 1px solid #d028fa;
    height: 40px;
    width: 40px;
    padding: 15px;
    border-radius: 50%;
    margin-right: 24px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_to_talk .login_form input {
    border: none;
    background: none;
    color: #fff;
    width: 92%;
}

.login_form input:active,
input:focus {
    outline: none;
}

.thumbnail_child {
    position: relative;
    transition: .4s;
}

.thumbnail_child:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.sub_content {
    position: absolute;
    top: 80%;
    color: #fff;
    left: 10%;
    font-weight: 500;
    z-index: 2;
}

.thumbnail_child .format {
    position: absolute;
    top: 25px;
    border-radius: 2px;
    right: 25px;
    display: inline-block;
    width: 56px;
    text-align: center;
    height: 56px;
    line-height: 56px;
    box-shadow: 12.9px 15.3px 18px 0 rgba(0, 0, 0, 0.2);
    background-color: #1fb8fc;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.thumbnail_child .hover_content .title {}

.hover_content .author_wrap img {
    width: 56px;
}

.thumbnail_box_main:hover .sub_content {
    display: none;
}

.thumbnail_child:hover .format {
    display: none;
}

.thumbnail_box_main {
    position: relative;
    cursor: pointer;
    transition: all .5s;
}

.hover_content {
    position: absolute;
    top: 0%;
    height: 100%;
    left: 0;
    background: #fff;
    opacity: 0;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.2);
    padding: 50px 36px;
    z-index: 10;
    transition: all .5s;
}

.thumbnail_box_main:hover .hover_content {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hover_content .title a {
    text-decoration: none;
    font-size: 20px;
    margin-top: 8px;
    color: #000;
}

.hover_content .title a:hover {
    color: #2174ff;
}

.hover_content .description p {
    font-weight: 300;
    color: #959595;
}

.testimonials_text .content {
    font-size: 22px;
    line-height: 32px;
    font-style: italic;
    margin-block-end: 27px;
    font-weight: 300;
}

.testimonials_text .user_info {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
}

.new_events {
    background-image: url("../images/bg-new-event.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.main_event .title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #fff;
}

.new_events .date_month .date {
    font-size: 120px;
    font-weight: 300;
    line-height: 120px;
    letter-spacing: normal;
    color: #2174ff;
}

.new_events .date_month .month {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #2174ff;
    margin-left: 20px;
}

.new_events .content a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    font-size: 32px;
}

.new_events .content a:hover {
    color: #2174ff;
}

.lower_section {
    background-image: url("../images/layer-31@3x.png");
    background-color: rgba(33, 33, 33, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lower_text {
    margin-top: 10%;
    width: 100%
}

.lower_p {
    font-size: 34px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: .7px;
    color: white;
}

.lower_a a {
    border: 1px solid blue;
    border-radius: 24px;
}

.lower_a span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.lower_a {
    margin-top: 44px;
    margin-bottom: 24px;
    border-color: none;
}

footer {
    background-color: #202121;
    border-bottom: 1px solid #737474;
}

footer p {
    font-size: 14px;
    color: #737474;
}

footer ul li a {
    color: #737474;
}

footer ul li .fa {
    font-size: 10px;
    min-width: 20px;
    color: #737474;
}

footer ul li .far {
    font-size: 10px;
    min-width: 20px;
    color: #737474;
}

footer ul li .fas {
    font-size: 10px;
    min-width: 20px;
    color: #737474;
}

.footer_input i {
    background-color: blue;
    color: white;
    padding-top: 10px;
}

.course_footer {
    margin-left: 80px;
}

.course_footer input {
    border-color: #737474;
    border-style: groove;
    font-size: 12px;
    font-family: lato;
    background-color: #202121;
    width: 100%;
    font-style: italic;
}

.text_foot i {
    color: #565757;
    padding: 10px;
}

.text_foot i:hover {
    background-color: blue;
    cursor: pointer;
}

.text_foot .text_fa {
    width: 40px;
}

footer h3 {
    font-size: 16px;
    position: relative;
    margin-bottom: 36px;
    padding-bottom: 14px
}

footer h3:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #2174ff;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .row {
    border-bottom: 1px solid;
}

.footer_main {
    border-bottom: 1px solid #333434;
}